
        body{
            background-color: beige;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: black;
        }
        nav{
            background-color: indianred;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        nav ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0 ;
        }
        nav ul li{
           margin: 0 5px;
        }
        nav ul li a{
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            color: black;
            padding: 10px 20px;
            border-radius: 50px;
        }
        nav ul li a:hover{
            background-color: black;
            color: white;
        }
        .hero-image{
            background-image: url("https://cdn.pixabay.com/photo/2024/04/10/00/46/hospital-8687007_1280.jpg");
            background-size: cover;
            background-position: center;
            height: 570px;
            border-radius: 15px;
            margin: 20px;
        }
        .aboutus{
            text-align: center;
        }
        .aboutus p {
            font-family: Calibri, cursive;
        }
        .about-us {
            background-color: dimgrey;
            height: 60px;
        }
        .about{
            background-color: lightblue;
            height: 60px;
        }
        .section{
            background-color: lavender;
            height: 60px;
        }
        #one{
            background-color: mistyrose;
            height: 60px;
        }
        #two{
            background-color: snow;
            height: 60px;
        }
        .image-one img{
            height: 40vh;
            width: 350px;
        }
        .image-two img{
             height: 40vh;
            width: 350px;
        }
        .image-three img{
             height: 40vh;
            width: 350px;
        }
        .image-four img{
             height: 40vh;
            width: 350px;

        }